@import url('https://fonts.googleapis.com/css?family=PT+Sans&family=Open+Sans:wght@300&display=swap');
* {
    margin: 0;
    padding: 0;
    border: none;
}
body{
    font-family: playfair display, sans-serif;
    font-weight: 300;
    color: lightblue;

}

/*heading and logo*/

h1, h2 {
   font-family: Open+Sans:wght@300, sans-serif;
   text-transform: capitalize;
   font-color: cyan;
}

#logo {
    font-size: 24px;
}